/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "login";
@import "gridview";
@import "button";
@import "modal";
@import "input";

$display: none;
$bodyBackground: #302927;
$colorNavActiv: #736a50;
$colorNavText: rgba(204, 198, 198, 0.6);
$colorNavBadge: #3a3331;
$colButtonHover: #191412;

@mixin border-bottom($color) {
    border-bottom: 1px solid $color;
}
@mixin border-right($color) {
    border-right: 1px solid $color;
}
@mixin border($color) {
    border: 1px solid $color;
}
@mixin borFormZakaz($color){
  height: 255px;
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
}

body{
    background: $bodyBackground;
<<<<<<< HEAD
    font-family: "Oswald-Light", sans-serif;
=======
    font-family: "Helvetica Neue", Helvetica, sans-serif;
>>>>>>> origin/master
}
.logout{
    float: right;
    font-size: $font-size;
    background: $colorButton;
    border-radius: $border-radius;
    color: $colorH3;
    position: relative;
    left: -74px;
    top: -30px;
    height: 30px;
    span{
        padding-left: 9px;
        font-size: 12px;
    }
    .exit{
        color: $bacgrountTr;
    }
    &:hover{
        color: $colorText;
        text-decoration: $text-decoration;
        background: $colButtonHover;
    }
}
.wrap{
    .logo{
      background-image: url('../img/holland.png');
      background-repeat: no-repeat;
      background-position: 63px 15px;
      background-size: 98px;
      width: 168px;
      height: 58px;
      float: left;
    }
    .headerNav{
        margin-top: -26px;
        margin-left: 426px;
        font-size: $font-size;
        background: $colorButton;
        border-radius: $border-radius;
        color: $colorH3;
        width: 506px;
        height: 36px;
        li{
            a {
              color: $colorText;
              padding-right: 3px;
              span {
                color: $colorNavText;
                background: $colorNavBadge;
                padding-left: 1px;
                font-size: 11px;
                font-weight: 700;
              }
              &:hover {
                color: $colorH3;
                span {
                  background: rgba(0,0,0,0);
                }
              }
            }
        }
        .active{
          a{
            span{
              color: $bodyBackground;
              background: $colorNavActiv;
              &:hover{
                color: $bodyBackground;
                background: rgba(0,0,0,0);
              }
            }
          }
        }
    }
    .container{
      padding: 41px 15px 20px;
    }
    .nav-pills > li.active > a{
        background-color: $colorH3;
        color: $bodyBackground;
    }
}
.titleMain{
    font-size: 27px;
    font-weight: 700;
    color: rgba(204, 198, 198, 0.6);
    margin-top: 19px;
    margin-left: 181px;
    position: relative;
    top: 14px;
}
.notification-container{
   position: fixed;
    width: 16%;
    top: 50px;
    height: 200px;
    float: left;
    margin-left: 69%;
    @include border(#f1d0d0);
    z-index: 1000;
    background: #ffffff;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
}
.notification-container .hidden{
    display: $display;
}
.notification-content{
    height: 169px;
    overflow: auto;
}
.zakaz-form{
  h3{
    color: $colorH3;
  }
  .informationZakaz{
    margin-left: 94px;
    @include borFormZakaz($colorH3);
    h3{
      padding-left: 16px;
    }
    textarea{
      width: 255px;
    }
  }
  .clientZakaz{
    margin-left: -76px;
    @include borFormZakaz($colorH3);
    h3{
      padding-left: 18px;
    }
  }
  .moneyZakaz{
    margin-left: -42px;
    @include borFormZakaz($colorH3);
    h3{
      padding-left: 12px;
    }
  }
  .managmentZakaz{
    margin-left: -60px;
    @include borFormZakaz($colorH3);
    h3{
      padding-left: 12px;
    }
  }
}
.form-shiftEnd, .form-shiftStart{
  display: none;
}

.visibleForm{
  display: block;
}

.srokIndex{
  tr{
    td{
      padding: 8px;
    }
  }
}